In [1]:
import pandas as pd
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv')

ModuleNotFoundError: No module named 'pandas'

In [2]:
import pandas as pd
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 31, saw 3

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv')

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 31, saw 3

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv', sep=',')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 31, saw 3

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv', sep='delimiter')

/Users/welsow/homebrew/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 31, saw 3

In [8]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
countries = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 31, saw 3

In [1]:
import pandas as pd
countries = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv')
countries

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [2]:
countries.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [3]:
countries.loc(countries['Currency'] == 'EUR')

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [4]:
countries.loc(countries['Currency'] == EUR)

NameError: name 'EUR' is not defined

In [5]:
countries

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [6]:
countries.loc(countries['Name']=='Germany')

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [7]:
countries.iloc(countries['Name']=='Germany')

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [8]:
countries.where(countries['Name']=='Germany')

      Name      People      Area     BIP Currency
0  Germany  82521653.0  357385.0  3466.0      EUR
1      NaN         NaN       NaN     NaN      NaN
2      NaN         NaN       NaN     NaN      NaN
3      NaN         NaN       NaN     NaN      NaN
4      NaN         NaN       NaN     NaN      NaN

In [9]:
countries['Currency'=='EUR']

KeyError: False

In [10]:
countries[countries['Currency']=='EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [11]:
lessDF = countries[['Name','Currency']]
lessDF

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [12]:
lessDF

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [13]:
countries

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [14]:
countries[countries['BIP']>2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [15]:
countries[countries['People']>5000000 && countries['People']<15000000]

SyntaxError: invalid syntax (<ipython-input-15-115b0150e810>, line 1)

In [17]:
countries[(countries['People']>5000000)]

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [18]:
countries[(countries['People']>5000000) & (countries['People']<15000000)]

Empty DataFrame
Columns: [Name, People, Area, BIP, Currency]
Index: []

In [19]:
countries[(countries['People']<15000000)]

Empty DataFrame
Columns: [Name, People, Area, BIP, Currency]
Index: []

In [20]:
countries[(countries['People']>5000000)]

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [21]:
countries[(countries['People']<150000000)]

      Name     People     Area   BIP Currency
0  Germany   82521653   357385  3466      EUR
1    Japan  126045000   377835  4938      YEN
2   Canada   36503097  9984670  1529      CAD
3    Italy   60501718   301338  1850      EUR

In [22]:
countries[(countries['People']>5000000) & (countries['People']<150000000)]

      Name     People     Area   BIP Currency
0  Germany   82521653   357385  3466      EUR
1    Japan  126045000   377835  4938      YEN
2   Canada   36503097  9984670  1529      CAD
3    Italy   60501718   301338  1850      EUR

In [23]:
countries.rename({'BIP':'Bip'}, axis='columns')
countries

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [24]:
countries.rename({'BIP':'Bip'}, axis='columns')

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [25]:
totalBip = countries['BIP'].sum()

KeyError: 'Bip'

In [26]:
totalBip = countries['BIP'].sum()

In [27]:
totalBip

13581

In [28]:
average = countries.groupby('People').mean()
average

              Area   BIP
People
36503097   9984670  1529
60501718    301338  1850
82521653    357385  3466
126045000   377835  4938
208360000  8515770  1798

In [30]:
average = countries.groupby('People').sum()

In [31]:
average

              Area   BIP
People
36503097   9984670  1529
60501718    301338  1850
82521653    357385  3466
126045000   377835  4938
208360000  8515770  1798

In [32]:
average = countries['People'].sum()
average

513931468

In [33]:
average = countries['People'].mean()
average

102786293.59999999

In [34]:
countries.sort_values('Name')

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [35]:
newDF = countries.copy()

In [36]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [37]:
newDF.loc[newDF['Area'] > 1000000,'Area'] = 'BIG'

In [38]:
newDF.loc[newDF['Area'] <= 1000000,'Area'] = 'SMALL'

TypeError: '<=' not supported between instances of 'str' and 'int'

In [39]:
newDF

       Name     People    Area   BIP Currency
0   Germany   82521653  357385  3466      EUR
1     Japan  126045000  377835  4938      YEN
2    Canada   36503097     BIG  1529      CAD
3     Italy   60501718  301338  1850      EUR
4  Brazilia  208360000     BIG  1798     REAL

In [40]:
newDF = countries.copy()

In [41]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [42]:
newDF['Area'] = newDF.where(newDF['Area']>1000000, 'BIG', 'SMALL')

ValueError: For argument "inplace" expected type bool, received type str.

In [43]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [44]:
newDF['Area'] = newDF.where(newDF['Area']>100000, 'BIG', 'SMALL')

ValueError: For argument "inplace" expected type bool, received type str.

In [45]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [46]:
newDF['something'] = newDF.where(newDF['Area']>100000, 'BIG', 'SMALL')

ValueError: For argument "inplace" expected type bool, received type str.

In [47]:
newDF['something'] = newDF.where((newDF['Area']>100000), 'BIG', 'SMALL')

ValueError: For argument "inplace" expected type bool, received type str.

In [48]:
newDF.set_index("Area", inplace=True)

In [49]:
newDF['Area'] = newDF.where(newDF['Area']>100000, 'BIG', 'SMALL')

KeyError: 'Area'

In [50]:
newDF

             Name     People   BIP Currency
Area
357385    Germany   82521653  3466      EUR
377835      Japan  126045000  4938      YEN
9984670    Canada   36503097  1529      CAD
301338      Italy   60501718  1850      EUR
8515770  Brazilia  208360000  1798     REAL

In [51]:
newDF = countries.copy()

In [52]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [53]:
newDF.loc[newDF['Area'] <= 1000000,'Area'] = 'SMALL'

In [54]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653    SMALL  3466      EUR
1     Japan  126045000    SMALL  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718    SMALL  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [55]:
newDF.loc[newDF['Area'] > 1000000,'Area'] = 'BIG'

TypeError: '>' not supported between instances of 'str' and 'int'

In [56]:
newDF.loc[(newDF['Area'].isnumeric()) & (newDF['Area']<= 1000000,'Area')] = 'SMALL'

AttributeError: 'Series' object has no attribute 'isnumeric'

In [57]:
newDF.loc[(newDF['Area'].isint()) & (newDF['Area']<= 1000000,'Area')] = 'SMALL'

AttributeError: 'Series' object has no attribute 'isint'

In [59]:
newDF.loc[(~newDF["Area"].str.contains('BIG')) & (newDF['Area']<= 1000000,'Area')] = 'SMALL'

TypeError: bad operand type for unary ~: 'float'

In [60]:
newDF = countries.copy()

In [61]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [62]:
for row in newDF.rows:
   print row['Area']

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(row['Area'])? (<ipython-input-62-91931db49bcd>, line 2)

In [63]:
for row in newDF.rows:
   row['Area']

AttributeError: 'DataFrame' object has no attribute 'rows'

In [64]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [65]:
for index, row in df.iterrows():
   row['c1'], row['c2']

NameError: name 'df' is not defined

In [66]:
for index, row in newDF.iterrows():
   row

In [67]:
for index, row in newDF.iterrows():
   print row

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(row)? (<ipython-input-67-c362ae1908fd>, line 2)

In [68]:
for index, row in newDF.iterrows():
   print(row)

Name         Germany
People      82521653
Area          357385
BIP             3466
Currency         EUR
Name: 0, dtype: object
Name            Japan
People      126045000
Area           377835
BIP              4938
Currency          YEN
Name: 1, dtype: object
Name          Canada
People      36503097
Area         9984670
BIP             1529
Currency         CAD
Name: 2, dtype: object
Name           Italy
People      60501718
Area          301338
BIP             1850
Currency         EUR
Name: 3, dtype: object
Name         Brazilia
People      208360000
Area          8515770
BIP              1798
Currency         REAL
Name: 4, dtype: object

In [69]:
for index, row in newDF.iterrows():
   print(row['c1'])

KeyError: 'c1'

In [70]:
for index, row in newDF.iterrows():
   print(index)

0
1
2
3
4

In [71]:
for index, row in newDF.iterrows():
   print(row)

Name         Germany
People      82521653
Area          357385
BIP             3466
Currency         EUR
Name: 0, dtype: object
Name            Japan
People      126045000
Area           377835
BIP              4938
Currency          YEN
Name: 1, dtype: object
Name          Canada
People      36503097
Area         9984670
BIP             1529
Currency         CAD
Name: 2, dtype: object
Name           Italy
People      60501718
Area          301338
BIP             1850
Currency         EUR
Name: 3, dtype: object
Name         Brazilia
People      208360000
Area          8515770
BIP              1798
Currency         REAL
Name: 4, dtype: object

In [72]:
for index, row in newDF.iterrows():
   print(row['Area'])

357385
377835
9984670
301338
8515770

In [73]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      row['Area'] = 'SMALL'

In [74]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [75]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      newDF[index]['Area'] = 'SMALL'
   else:
      newDF[index]['Area'] = 'BIG'

KeyError: 0

In [76]:
newDF[0]

KeyError: 0

In [77]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      newDF.at[index, 'Area'] = 'SMALL'
   else:
      newDF.at[index, 'Area'] = 'BIG'

ValueError: invalid literal for int() with base 10: 'BIG'

In [78]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [79]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      newDF.set_value(index, 'Area', 'SMALL')
   else:
      newDF.set_value(index, 'Area', 'BIG')

/Users/welsow/homebrew/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

ValueError: invalid literal for int() with base 10: 'BIG'

In [80]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      newDF.set_value(index, 'Area', 10)
   else:
      newDF.set_value(index, 'Area', 8)

/Users/welsow/homebrew/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [81]:
newDF

       Name     People  Area   BIP Currency
0   Germany   82521653     8  3466      EUR
1     Japan  126045000     8  4938      YEN
2    Canada   36503097     8  1529      CAD
3     Italy   60501718     8  1850      EUR
4  Brazilia  208360000     8  1798     REAL

In [82]:
df.ix[1,'Area']='BIG'

NameError: name 'df' is not defined

In [83]:
newDF.ix[1,'Area']='BIG'

/Users/welsow/homebrew/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [84]:
newDF.loc[1,'Area']='BIG'

In [85]:
newDF

       Name     People Area   BIP Currency
0   Germany   82521653    8  3466      EUR
1     Japan  126045000  BIG  4938      YEN
2    Canada   36503097    8  1529      CAD
3     Italy   60501718    8  1850      EUR
4  Brazilia  208360000    8  1798     REAL

In [86]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      newDF.loc[index, 'Area'] = 'Small'
   else:
      newDF.loc[index, 'Area'] = 'Big'

TypeError: '<' not supported between instances of 'str' and 'int'

In [87]:
newDF = countries.copy()

In [88]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      newDF.loc[index, 'Area'] = 'Small'
   else:
      newDF.loc[index, 'Area'] = 'Big'

In [89]:
newDF

       Name     People Area   BIP Currency
0   Germany   82521653  Big  3466      EUR
1     Japan  126045000  Big  4938      YEN
2    Canada   36503097  Big  1529      CAD
3     Italy   60501718  Big  1850      EUR
4  Brazilia  208360000  Big  1798     REAL

In [90]:
newDF = countries.copy()

In [91]:
newDF

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [92]:
for index, row in newDF.iterrows():
   if row['Area']<100000:
      print('YES')
   else:
      print('No')

No
No
No
No
No

In [98]:
for index, row in newDF.iterrows():
   if row['Area'] > 1000000:
      newDF.loc[index, 'Area'] = 'Big'
   else:
      newDF.loc[index, 'Area'] = 'Small'

In [99]:
newDF

       Name     People   Area   BIP Currency
0   Germany   82521653  Small  3466      EUR
1     Japan  126045000  Small  4938      YEN
2    Canada   36503097    Big  1529      CAD
3     Italy   60501718  Small  1850      EUR
4  Brazilia  208360000    Big  1798     REAL